

<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Roboto:400,500,300|Roboto+Condensed:400,300,700|Open+Sans+Condensed:300,700|Open+Sans:400,300,600&subset=latin,cyrillic,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>


<ion-view  class="background" view-title="KingCard">
  <ion-content>



 <div class="list card">
 
    <div class="item item-body">
  <a href="#/app/rewards" class="item item-icon-left">
     <i class="icon ion-pricetags"></i>
      <p> Each time you make purchase from one of the King Card partner shop, you get a ticket with unique code. Add your unique code in your app to accumulate points. Once you have enough points you can exchange it against points.</p>
   </a>
 </div>
    </div>
 

<div class="list card background">

<div class="item item-body">

<div class="list">

  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Enter your unique code here">
    </label>
    <button class="button button-small">
      Add points
    </button>
  </div>

</div>


  </div>
</div>
 
 
 
 
  
  </ion-content>
 
 <!-- <div class="tabs tabs-icon-top">
    <a  class="tab-item">
      <i class="icon ion-home"></i>
      Home 
    </a>
    <a class="tab-item">
      <i class="icon ion-pricetags"></i>
      My Rewards 
    </a>
    <a class="tab-item">
      <i class="icon ion-bag"></i>
      My Shops
    </a>
    <a class="tab-item">
      <i class="icon ion-plus-circled"></i>
      Add points
    </a>
  </div> -->
</ion-modal-view>

