<ion-view  view-title="KingCard > Help">
  <ion-content>

 
 
 <div class="list card">
   King Card is <b>your Favourite Loyality Program</b>". For each purchase will you get a unique code. Simply enter this code into your app to <b>get your points</b>. Once you get enough points, you get <b>rewards</b> (free items, discount).</p> 
   
   <p> Click on button below to disconnect from King Card app. Next time you will want to use the app you will have to log in again. Clicking on the disconnect button does not delete your loyalty card. You will keep all your points and deals.
    </p>
 
  </div>
 
 <div class="list card">
 
   <a href="#" class="item item-icon-left">
     <i class="icon ion-home"></i>
     Visit our Website
   </a>
 
   <a href="#" class="item item-icon-left">
     <i class="icon ion-ios7-telephone"></i>
     Give us call
   </a>
 
   <a href="#" class="item item-icon-left">
     <i class="icon ion-email"></i>
     Send us a mail
   </a>
 
 </div>
 
  </ion-content>
</ion-modal-view>
