

<ion-view  view-title="Welcome on KingCard">
  <ion-content>

<div class="list card">

<div class="item item-body">
    <img class="full-image" src="img/kc-logo.png">
    <p>
      Welcome on KingCard "Your Favourite Loyality Program". Thanks to King Card you get gift, discount and special offers in your favourite shops.
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>
</div>
 
 <div class="list card">
 
    
  <a href="#" class="item item-icon-left">
     <i class="icon ion-pricetags"></i>
      2 deals ready to use
   </a>
 
   <a href="#" class="item item-icon-left">
     <i class="icon ion-grid"></i>
     1 Loyalty Card Running
   </a>
 
   <a href="#" class="item item-icon-left">
     <i class="icon ion-social-rss"></i>
     70 Checked-in
   </a>
 
 </div>
 
  
  </ion-content>
</ion-modal-view>
