

<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Roboto:400,500,300|Roboto+Condensed:400,300,700|Open+Sans+Condensed:300,700|Open+Sans:400,300,600&subset=latin,cyrillic,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>


<ion-view  class="background" view-title="KingCard">
  <ion-content>

<div class="list card background">

<div class="item item-body">
 <p class="point_home">35</p> <p class="point_label">points</p>   
  </div>
</div>
 
 <div class="list card">
     <div style="height: 64px;">
     <a href="#/app/rewards" class="item item-icon-left item-icon-right">
     <i class="icon ion-pricetags dark"></i>
      <p class="normal_text_small">You have enough point to get <p class="normal_text"> 2 free rewards right now</p>
        <i class="icon ion-arrow-right-b dark"></i>
   </a></div>
      <div style="height: 64px;">
   <a href="#/app/myshop" class="item item-icon-left item-icon-right">
     <i class="icon ion-bag dark"></i>
     <p class="normal_text_small">You use KingCard in</p> <p class="normal_text">2 shops</p>
           <i class="icon ion-arrow-right-b dark"></i>
   </a></div>
  <div style="height: 64px;">
  <a href="#" class="item item-icon-left item-icon-right">
   <i class="icon ion-person-stalker dark" ></i>
   <p class="normal_text_small">Be awesome</p> <p class="normal_text">Invite some Friends!</p>
 <i class="icon ion-arrow-right-b dark"></i>
 
 </a></div>
</div> 
 
  </ion-content>
 

</ion-modal-view>

<ion-footer-bar align-title="left" class="bar-dark">
  <button class="title button icon-right ion-plus-round"><p class="bottom_bar">Add more points now</p></button>
 </ion-footer-bar>

<!--<ion-footer-bar class="bar-balanced">
<div class="padding button-bar">
           <button class=" icon-left ion-plus-circled button-balanced button button-block button-positive">
             Add points now!
           </button></div>
 </ion-footer-bar> -->