

<ion-view  view-title="Welcome on KingCard">
  <ion-content>

<div class="list card">

<div class="item item-body">
    <img class="full-image" src="img/kc-logo.png">
    <p>
      Welcome on KingCard "<b>Your Favourite Loyality Program</b>". For each purchase will you get a unique code. Simply enter this code into your app to <b>get your points</b>. Once you get enough points, you get <b>rewards</b> (free items, discount).</p>    
    
  </div>
</div>
 
 <div class="list card">
 
    
  <a href="#" class="item item-icon-left">
     <i class="icon ion-pricetags"></i>
      You can get two <b>2</b> free rewards now
   </a>
 
   <a href="#" class="item item-icon-left">
     <i class="icon ion-bag"></i>
     You use KingCard in <b>2</b> shops
   </a>
 
   <a href="#" class="item item-icon-left">
     <i class="icon ion-ribbon-b"></i>
     You collected <b>45</b> points!
   </a>
 
 </div>
 
  
  </ion-content>
 
 <!-- <div class="tabs tabs-icon-top">
    <a  class="tab-item">
      <i class="icon ion-home"></i>
      Home 
    </a>
    <a class="tab-item">
      <i class="icon ion-pricetags"></i>
      My Rewards 
    </a>
    <a class="tab-item">
      <i class="icon ion-bag"></i>
      My Shops
    </a>
    <a class="tab-item">
      <i class="icon ion-plus-circled"></i>
      Add points
    </a>
  </div> -->
</ion-modal-view>


