
<ion-view view-title="King Card > My Cards">
  <ion-content>
 
For each completed card. The shop will offer you a discount or free gift. You ca checking next to the cash registry.

<div class="list card">

  <div class="item item-avatar">
    <img src="img/fred.png">
    <h2>Fred's Food</h2>
    <p>Fresh Food in Anderlecht</p>
  </div>


  <a href="#" class="item item-icon-left">
    <i class="icon ion-pricetag"></i>
    Complete your card to get one free sandwich. 
  </a>

<div class="row">
  <div class="col"><button class="button button-balanced">
       <i class="icon ion-checkmark-round"></i>
     </button></div>
  <div class="col"><button class="button button-balanced">
       <i class="icon ion-checkmark-round"></i>
     </button></div>
  <div class="col"><button class="button button-balanced">
       <i class="icon ion-checkmark-round"></i>
     </button></div>
  <div class="col"><button class="button button-balanced">
       <i class="icon ion-checkmark-round"></i>
     </button></div>
  <div class="col"><button class="button button-balanced">
       <i class="icon ion-checkmark-round"></i>
     </button></div>
</div>
<div class="row">
  <div class="col"><button class="button button-balanced">
       <i class="icon ion-checkmark-round"></i>
     </button></div>
  <div class="col"><button class="button button-stable">
       <i class="icon ion-qr-scanner"></i>
     </button></div>
  <div class="col"><button class="button button-stable">
       <i class="icon ion-qr-scanner"></i>
     </button></div>
  <div class="col"><button class="button button-stable">
       <i class="icon ion-qr-scanner"></i>
     </button></div>
  <div class="col"><button class="button button-stable">
       <i class="icon ion-qr-scanner"></i>
     </button></div>
</div>
  <div class="row">
    <div class="col"><button class="button button-stable">
         <i class="icon ion-qr-scanner"></i>
       </button></div>
    <div class="col"><button class="button button-stable">
         <i class="icon ion-qr-scanner"></i>
       </button></div>
    <div class="col"><button class="button button-stable">
         <i class="icon ion-qr-scanner"></i>
       </button></div>
    <div class="col"><button class="button button-stable">
         <i class="icon ion-qr-scanner"></i>
       </button></div>
    <div class="col"><button class="button button-stable">
         <i class="icon ion-qr-scanner"></i>
       </button></div>
  </div>

  <a class="item item-icon-left assertive" href="#">
    <i class="icon ion-social-rss"></i>
    Check in Now
  </a>

</div> 
 
  </ion-content>
</ion-view>
