<ion-view view-title="My Shops">
  <ion-content>
 
 <div class="list">
           <div class="item-button-right">
 
     <a class="item item-thumbnail-left" href="#">
      
       <img src="img/fred.png">
       <h2>Fred's Food @The Crescent</h2>
       <p>Fresh Food every day</p>
       
       
          <p><i class="icon ion-ios-location">Allée de la recherche 63,1070 Anderlecht</i></p>
         
       
       
        
     </a>
 
     
 
 </div>
 </div>
 
 
  </ion-content>
  
  <ion-footer-bar class="bar-balanced">
    
 <button class="button">Enter code to get points</button>

     </ion-footer-bar>
</ion-view>
