<ion-view view-title="King Card > My Shops">
  <ion-content>
 
 <div class="list">
           <div class="item-button-right">
 
     <a class="item item-thumbnail-left" href="#">
      
       <img src="img/fred.png">
       <h2>Fred's Food @The Crescent</h2>
       <p>Fresh Food every day</p>
       
       
          <p><i class="icon ion-ios-location">Allée de la recherche 63,1070 Anderlecht</i></p>
         
       
       
        <button class="button button-positive">
             <i class="icon ion-location"></i>
           </button>
         <button class="button button-positive">
           <i class="icon ion-pricetags">1 </i>
         </button>
         <button class="button button-positive">
           <i class="icon ion-person-stalker">60</i>
         </button>
         <button class="button button-assertive">
           <i class="icon ion-social-rss">Check in</i>
         </button>
       </div>
     
     </a>
 
     
 
 </div>
 </div>
 
 
  </ion-content>
</ion-view>
