<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Roboto:400,500,300|Roboto+Condensed:400,300,700|Open+Sans+Condensed:300,700|Open+Sans:400,300,600&subset=latin,cyrillic,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>


<ion-view  view-title="Join KingCard Now!">
  <ion-content>


<p align="center">
<img class="image" src="img/kc-logo.png">
</p>
<div class="list card">
<p class="normal_text">
  King Card is <b>your Favourite Loyality Program</b>". Cumulate points and <b>get rewards</b>.</p> 
</div>  


<div class="card">
  <div class="item item-text-wrap">
  <form> 
   <div class="list list-inset">
     <label class="item item-input item-floating-label">
       <span class="input-label">First Name</span>
       <input type="text" placeholder="First Name">
     </label>
     <label class="item item-input item-floating-label">
       <span class="input-label">Email</span>
       <input type="email" placeholder="Email">
     </label>
     <label class="item item-input item-floating-label">
       <span class="input-label">Password</span>
       <input type="password" placeholder="Password">
     </label>
  <button class="button button-full button-positive">Sign up</button>
   <p class="normal_text_singup">By pressing signing up you agree with general condition of King Card. General conditions can be found on KingCard.be. </p>
   </div>
   </form>
   </div>
  </div>
  </ion-content>
</ion-modal-view>
