
<ion-view view-title="My Rewards">
  <ion-content>
 


<div class="list card">




  <div class="item item-avatar">
    <img src="img/fred.png">
    <h2>Fred's Food</h2>
    <p>Fresh Food in Anderlecht</p>
    <a href="#" class="item item-icon-left">
      <i class="icon ion-ribbon-b"></i>
      <b>45</b> points available!
    </a>
  </div>

  
   
  
 
 </div> 
 
 
 <div class="card">
   <div class="item item-divider">
     <h2><b>1. Free Can of Coke</b></h2>
   </div>
   <div class="item item-text-wrap">
 <a class="item item-thumbnail-right" href="#">
           <img src="img/coke.jpg"><span class="badge badge-calm">10</span>
     Exchange your points against a free can of Coke!
          <a class="button icon-right ion-plus-round button-balanced">Use my Points to get this deal</a></a>
     
     </a>
   </div>
   </div>
 
 
 <div class="card">
   <div class="item item-divider">
     <h2><b>2. Free Portugeese Cake</b></h2>
   </div>
   <div class="item item-text-wrap">
 <a class="item item-thumbnail-right" href="#">
           <img src="img/pastel_nata.jpg"><span class="badge badge-calm">30</span>
     Exchange your points against a free dessert! Try delicious portugeese "pastel de nata"
         <a class="button icon-right ion-plus-round button-balanced">Use my Points to get this deal</a></a>
   </a>
   </div>
  </div>
 
 
 
  </ion-content>
</ion-view>
