
<ion-view view-title="My Rewards">
  <ion-content>
 
For each completed card. The shop will offer you a discount or free gift. You ca checking next to the cash registry.

<div class="list card">

  <div class="item item-avatar">
    <img src="img/fred.png">
    <h2>Fred's Food</h2>
    <p>Fresh Food in Anderlecht</p>
  </div>

  
  <div class="list">
  
  
      <a class="item item-thumbnail-right" href="#">
        <img src="img/pastel_nata.jpg">
        <h2>1. Free portugeese cake</h2>
        <p><i class="icon ion-ribbon-b"></i>50 points</p>
        <span class="badge badge-calm">50</span>available
       <a class="button icon-right ion-plus-round button-calm">Use it now</a></a>
    </div>
  
  
    
 

</div> 
 
  </ion-content>
</ion-view>
