
<ion-view view-title="My Rewards">
  <ion-content>
 


<div class="list card">




<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Roboto:400,500,300|Roboto+Condensed:400,300,700|Open+Sans+Condensed:300,700|Open+Sans:400,300,600&subset=latin,cyrillic,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>


 
 <div class="card">
   <div class="item item-divider">
     <h3>1. Free Can of Coke</h3>
   </div>
   <div class="item item-text-wrap">
 <a class="item item-thumbnail-right" href="#">
           <img src="img/coke.jpg"><span class="badge badge-calm">10</span>
     Exchange your points against a free can of Coke!
          <a class="button-medium icon-right ion-plus-round button-balanced">Use my Points to get this deal</a></a>
     
     </a>
   </div>
   </div>
 
 
 <div class="card">
   <div class="item item-divider">
     <h3>2. Free Portugeese Cake</h3>
   </div>
   <div class="item item-text-wrap">
 <a class="item item-thumbnail-right" href="#">
           <img src="img/pastel_nata.jpg"><span class="badge badge-calm">30</span>
     Exchange your points against a free dessert! Try delicious portugeese "pastel de nata"
         <a class="button icon-right ion-plus-round button-balanced">Use my Points to get this deal</a></a>
   </a>
   </div>
  </div>
 
 
 
  </ion-content>
</ion-view>
