<ion-view  view-title="KingCard > Settings">
  <ion-content>

<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="Pierre">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="Halleux">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="pierre.halleux@gmail.com">
  </label>


 <li class="item item-toggle">
     Send me personalised offers from KingCard (Brussels)
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
</ul>


<ul class="list">
  <li class="item item-toggle">
   <a class="item item-avatar" href="#">
     <img src="img/fred.png">
     <h2>The Crescent</h2>
     <p>Food in Anderlecht</p>
   </a>
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>


</ul>

  <button class="button button-block button-positive" type="submit">Save my Settings</button>

</div>


</ion-content>
 
</ion-view>
<div class="tabs tabs-icon-top">
  <a class="tab-item">
    <i class="icon ion-home"></i>
    Home
  </a>
  <a class="tab-item">
    <i class="icon ion-pricetags"></i>
    My Deals
  </a>
  <a class="tab-item">
    <i class="icon ion-gear-a"></i>
    Settings
  </a>
  <a class="tab-item">
    <i class="icon ion-social-rss"></i>
    Check-in
  </a>
</div>
