<ion-view  class="bar-positive" view-title="Settings">
  <ion-content>

<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="Pierre">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="Halleux">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="pierre.halleux@gmail.com">
  </label>


 <li class="item item-toggle">
     King Card News
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
</ul>


<ul class="list">
  <li class="item item-toggle">
   <a class="item item-avatar" href="#">
     <img src="img/fred.png">
     <h2>The Crescent</h2>
     <p>Food in Anderlecht</p>
   </a>
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
  <li class="item item-toggle">
   <a class="item item-avatar" href="#">
     <img src="img/quick.jpg">
     <h2>Quick</h2>
     <p>Fast Food in Anderlecht</p>
   </a>
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>


</ul>







  <button class="button button-block button-positive" type="submit">Save my Settings</button>

</div>


</ion-content>
 
</ion-view>
