
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Roboto:400,500,300|Roboto+Condensed:400,300,700|Open+Sans+Condensed:300,700|Open+Sans:400,300,600&subset=latin,cyrillic,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>

<ion-view view-title="Fred Fine Food">
  <ion-content>
 
 
 
 <div class="list card background">
      <div style="height: 84px;">
      <a href="" class="item item-avatar-left">
      <img src="img/fred.png">
                  <p><span class="badge badge-positive">40 points</span></p>  
      
      <p class="my_shop_normal_text">Fred's Food</p>
      <p class="my_shop_text_small"><i class="img ion-location"></i> Allée de la recherche 64. 1070 Anderlecht</p> 
      <p class="my_shop_text_small"><i class="img ion-person"></i> 40 King Card users</p> 
      </a>
      </div>      
</div> 
 

 <div class="list card background">
       <div class="item item-divider"><h3>Fred's Food Rewards:</h3><span class="badge badge-stable"><h3>Points</h3> </span></div>
 
      <div style="height: 70px;">
      <a href="" class="item item-avatar-left item-icon-right">
      <img src="img/coke.jpg">
      <span class="badge badge-balanced">10</span>  
      <p class="my_shop_normal_text">
      	 <i class="img ion-unlocked balanced"></i> Coke
      </p>
       <p class="my_shop_text_small">Enjoy a refreshing can of coke</p>
      </a>
      </div> 
      
      <div style="height: 70px;">
      <a href="" class="item item-avatar-left item-icon-right">
      <img src="img/pastel_nata.jpg">
      <span class="badge badge-balanced">20</span>  
      <p class="my_shop_normal_text">
      	 <i class="img ion-unlocked balanced"></i> Pastel de Nata
      </p>
       <p class="my_shop_text_small">Enjoy a delicious pastel de nata.</p>
      </a>
      </div>    
      
      <div style="height: 70px;">
      <a href="" class="item item-avatar-left item-icon-right">
      <img src="img/saladBar.jpg">
      <span class="badge badge-assertive">50</span>  
      <p class="my_shop_normal_text">
      	 <i class="img ion-locked assertive"></i> Salad Bar Medium
      </p>
       <p class="my_shop_text_small">Enjoy a healthy Salad Bar Medium</p>
      </a>
      </div>    
      
           
</div> 


 
  </ion-content>
  
 <ion-footer-bar align-title="left" class="bar-dark">
  <a href="#/app/enter_points"> <button class="title button icon-right ion-plus-round"><p class="bottom_bar">Add more points now</p></button></a>
  </ion-footer-bar>  
  
</ion-view>

